requirements.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.example.org/agenda"
    name="AgendaService"
    targetNamespace="http://www.example.org/agenda">

    <types>
        <xs:schema targetNamespace="http://www.example.org/agenda">
            <!-- Tipo para un contacto -->
            <xs:element name="Contact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="telPrincipal" type="xs:string"/>
                        <xs:element name="telCelular" type="xs:string"/>
                        <xs:element name="correo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Operaciones para la agenda -->
            <xs:element name="AgregarContacto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contact" type="tns:Contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="AgregarContactoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EliminarContacto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contactName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EliminarContactoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="BuscarContacto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contactName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="BuscarContactoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contact" type="tns:Contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EditarContacto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="oldName" type="xs:string"/>
                        <xs:element name="newContact" type="tns:Contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="EditarContactoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="OrdenarContactos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contactList" type="tns:Contact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="OrdenarContactosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Mensajes para cada operación -->
    <message name="AgregarContactoRequest">
        <part name="parameters" element="tns:AgregarContacto"/>
    </message>
    <message name="AgregarContactoResponse">
        <part name="parameters" element="tns:AgregarContactoResponse"/>
    </message>

    <message name="EliminarContactoRequest">
        <part name="parameters" element="tns:EliminarContacto"/>
    </message>
    <message name="EliminarContactoResponse">
        <part name="parameters" element="tns:EliminarContactoResponse"/>
    </message>

    <message name="BuscarContactoRequest">
        <part name="parameters" element="tns:BuscarContacto"/>
    </message>
    <message name="BuscarContactoResponse">
        <part name="parameters" element="tns:BuscarContactoResponse"/>
    </message>

    <message name="EditarContactoRequest">
        <part name="parameters" element="tns:EditarContacto"/>
    </message>
    <message name="EditarContactoResponse">
        <part name="parameters" element="tns:EditarContactoResponse"/>
    </message>


    <message name="OrdenarContactosRequest">
        <part name="parameters" element="tns:OrdenarContactos"/>
    </message>
    <message name="OrdenarContactosResponse">
        <part name="parameters" element="tns:OrdenarContactosResponse"/>
    </message>

    <!-- Se definen las operaciones -->
    <portType name="AgendaPortType">
        <operation name="AgregarContacto">
            <input message="tns:AgregarContactoRequest"/>
            <output message="tns:AgregarContactoResponse"/>
        </operation>

        <operation name="EliminarContacto">
            <input message="tns:EliminarContactoRequest"/>
            <output message="tns:EliminarContactoResponse"/>
        </operation>

        <operation name="BuscarContacto">
            <input message="tns:BuscarContactoRequest"/>
            <output message="tns:BuscarContactoResponse"/>
        </operation>

        <operation name="EditarContacto">
            <input message="tns:EditarContactoRequest"/>
            <output message="tns:EditarContactoResponse"/>
        </operation>


        <operation name="OrdenarContactos">
            <input message="tns:OrdenarContactosRequest"/>
            <output message="tns:OrdenarContactosResponse"/>
        </operation>
    </portType>

    <binding name="AgendaBinding" type="tns:AgendaPortType">
        <soap12:binding style="rpc" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>

        <operation name="AgregarContacto">
            <soap12:operation soapAction="http://www.example.org/agenda/AgregarContacto"/>
            <input><soap12:body use="literal"/></input>
            <output><soap12:body use="literal"/></output>
        </operation>


        <operation name="EliminarContacto">
            <soap12:operation soapAction="http://www.example.org/agenda/EliminarContacto"/>
            <input><soap12:body use="literal"/></input>
            <output><soap12:body use="literal"/></output>
        </operation>

        <operation name="BuscarContacto">
            <soap12:operation soapAction="http://www.example.org/agenda/BuscarContacto"/>
            <input><soap12:body use="literal"/></input>
            <output><soap12:body use="literal"/></output>
        </operation>

        <operation name="EditarContacto">
            <soap12:operation soapAction="http://www.example.org/agenda/EditarContacto"/>
            <input><soap12:body use="literal"/></input>
            <output><soap12:body use="literal"/></output>
        </operation>


        <operation name="OrdenarContactos">
            <soap12:operation soapAction="http://www.example.org/agenda/OrdenarContactos"/>
            <input><soap12:body use="literal"/></input>
            <output><soap12:body use="literal"/></output>
        </operation>

    </binding>

    <service name="AgendaService">
        <port name="AgendaPort" binding="tns:AgendaBinding">
            <soap12:address location="http://localhost:3000/agenda"/>
        </port>
   

